@import url("https://fonts.googleapis.com/css2?family=Borel&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Special+Elite&display=swap");

body {
  background-color: #d5f3c8;
}

section {
  background-image: url(images/Lay-out\ home-pagina\ notitieboek.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 100vh;
}

img {
  height: 1450px;
  width: 750px;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  gap: 50px;
  margin-top: 90%;
}

li img {
  height: 80px;
  width: 80px;
}

section h1 {
  text-align: center;
  font-family: "Borel", sans-serif;
  margin-top: -8%;
  font-size: 1.5rem;
}

section p {
  padding-top: 0%;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: -6%;
  line-height: 1.3rem;
}

p {
  font-family: "Borel", sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  padding-left: 13%;
  padding-right: 13%;
  text-align: center;
}

section img {
  height: 120px;
  width: 120px;
  padding-left: 34%;
  padding-top: 14%;
}

body.proces {
  background-image: url(images/Lay-out-proces-pagina-kopie-transparant.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

img.proces-logo {
  width: 120px;
  height: 120px;
  margin-left: 53%;
  margin-top: -25%;
}

p.proces-1 {
  padding-left: 15%;
  padding-right: 52%;
  margin-top: -8%;
  font-size: 0.9rem;
  line-height: 1.1rem;
}

p.proces-2 {
  padding-right: 15%;
  padding-left: 53%;
  margin-top: -8%;
  font-size: 0.9rem;
  line-height: 1.1rem;
}

p.proces-3 {
  padding-left: 14%;
  padding-right: 53%;
  margin-top: -3%;
  font-size: 0.9rem;
  line-height: 1.1rem;
}

p.proces-4 {
  padding-left: 51%;
  padding-right: 14%;
  margin-top: -9.5%;
  font-size: 0.9rem;
  line-height: 1.1rem;
}

body.over-ons {
  background-image: url(images/Lay-out\ over\ ons\ pagina.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

body.over-ons h1 {
  display: flex;
  justify-content: center;
  margin-top: -5%;
  font-family: "Borel", sans-serif;
  font-size: 1.5rem;
}

img.over-ons-logo {
  width: 120px;
  height: 120px;
  padding-left: 34%;
  margin-top: 14%;
}

article {
  display: flex;
  flex-direction: column;
  font-family: "Borel", sans-serif;
  gap: 30px;
  padding-left: 15%;
  padding-right: 15%;
}

body.proces h1 {
  font-family: "Borel", sans-serif;
  padding-left: 19%;
  padding-top: 17%;
  font-size: 1.5rem;
}

nav {
  position: relative;
}

#home-pijl-rechts {
  position: absolute;
  margin-left: 172px;
  margin-top: -440px;
}

#proces-pijl-links {
  position: absolute;
  margin-left: 33px;
  margin-top: -302px;
}

#proces-pijl-rechts {
  position: absolute;
  margin-left: 122px;
  margin-top: -297px;
}

#over-ons-pijl-links {
  position: absolute;
  margin-left: 33px;
  margin-top: -275px;
}
